.Card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* @media (max-width: 480px) {
  .Card-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
/* grid-template-columns: 16rem 1fr;
  }
} */
@media screen and (max-width: 800px) {
  .Card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
